#
# Enter your API key - It can be found at https://mms.mongodb.com/settings
#
mmsApiKey=5282c41f56482d85c8521ae7fcb1974f

#
# Hostname of the MMS Backup web server.
#
mothership=api-backup.mongodb.com

#
# Communicate with the MMS Backup web server over HTTPS
#
https=true

# For additional optional settings, please see
# https://mms.mongodb.com/help/reference/backup-agent
